@import '/styles/styles.scss';

.myNavbar {
    background-color: $color-purple !important;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navLinksContainer {
    justify-content: flex-end;
}

.navBrand {
    color: $color-soft-white !important;
    font-family: $font-heading;
    font-size: 35px !important;
    letter-spacing: 1px;
    transition: $transition-grow-on-hover;

    &:hover {
        color: $color-black !important;
        transform: $transform-grow-on-hover;
    }
}

.myNavLink {
    color: $color-soft-white !important;
    font-family: $font-sub-heading;
    font-size: 20px !important;
    text-transform: lowercase;
    font-weight: 200 !important;
    letter-spacing: .1rem;
    transition: $transition-grow-on-hover;

    &:hover {
        color: $color-black !important;
        transform: $transform-grow-on-hover;
    }
}