@import '../../../styles/styles.scss';

.workDetailsCols {
    display: grid;
    grid-template-columns: 2fr 2fr; // Two columns: text (1fr) and images (2fr)
    gap: 20px;
    width: 100%;
    padding: 20px;

    .textColumn {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .workTechText {
            font-family: $font-sub-heading;
            color: $color-gold;
            font-style: italic;
            letter-spacing: .2em;
        }

        .projectNameText {
            color: $color-green;
            font-family: $font-sub-heading;
            font-size: 90px;
            line-height: 1.7em;
        }

        .projectDescText {
            font-family: $font-sub-heading;
            max-width: 34vw;
        }

        .projectLinksContainer {
            display: flex;
            justify-content: space-evenly;

            .projectLink {
                font-family: $font-sub-heading;
                letter-spacing: .2em;

                display: inline-block;
                padding: 0.75rem 1.5rem;
                font-size: 1rem;
                font-weight: 600;
                text-align: center;
                text-decoration: none;
                color: white;
                background-color: $color-purple;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

                &:hover {
                    background-color: darken($color-purple, 5%);
                    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
                    transform: translateY(-2px);
                }

                &:active {
                    background-color: darken($color-purple, 10%);
                    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
                    transform: translateY(0);
                }

                &:disabled {
                    background-color: gray;
                    cursor: not-allowed;
                    box-shadow: none;
                }
            }

        }
    }

}

.badgeContainer {
    justify-content: center;
    display: flex;
}

@media screen and (max-width: $mobile-width) {
    .workDetailsCols {
        display: flex;
        flex-direction: column;

        .textColumn {
            .projectNameText {
                overflow-wrap: break-word;
                font-size: 20vw;
            }

            .projectDescText {
                max-width: 60vw !important;
            }
        }
    }
}

@media screen and (min-device-width : $tablet-width) and (max-device-width : $desktop-width) {
    .workDetailsCols {
        flex-direction: column;

        .projectDescText {
            max-width: unset !important;
        }
    }
}