@import '../../../styles/styles.scss';

.workDetailsCols {
    display: grid;
    grid-template-columns: 2fr 2fr; // Two columns: text (1fr) and images (2fr)
    gap: 20px;
    width: 100%;
    padding: 20px;

    .textColumn {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .workTechText {
            font-family: $font-sub-heading;
            color: $color-gold;
            font-style: italic;
            letter-spacing: .2em;
        }

        .projectNameText {
            color: $color-green;
            font-family: $font-sub-heading;
            font-size: 90px;
            line-height: 1.7em;
        }

        .projectDescText {
            font-family: $font-sub-heading;
            margin-left: 10%;
            max-width: 34vw;
        }

        .projectLink {
            color: $color-purple;
            text-decoration: none;
            font-family: $font-sub-heading;
            letter-spacing: .2em;
            margin-left: 10%;
        }
    }

    .imgGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: 100px; // Adjust this value to control the row height
        gap: 20px;

        .imgGridItem {
            @include animated-shadow;
            position: relative;
            width: 100%;
            padding-bottom: 75%; // Aspect ratio 4:3
            overflow: hidden;
            grid-row: span 2; // Adjust this value to control the row span

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.badgeContainer {
    justify-content: center;
    display: flex;
}

@media screen and (max-width: $mobile-width) {
    .workDetailsCols {
        flex-direction: column;

        .projectNameText {
            margin-left: 3%;
            overflow-wrap: break-word;
        }

        .projectDescText {
            max-width: 60vw !important;
        }
    }
}

@media screen and (min-device-width : $tablet-width) and (max-device-width : $desktop-width) {
    .workDetailsCols {
        flex-direction: column;

        .projectDescText {
            max-width: unset !important;
        }
    }
}