@import '../../styles/styles.scss';

.linksSectionContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    p {
        @include body-text;
        text-align: center;
        padding-bottom: 1em;
        max-width: 30vw;
    }

    .iconsContainer {
        max-width: 30vw;
        margin-bottom: 3em;
    }
}

.linkButton {
    background-color: rgba($color-gold, 0.2) !important;
    border: solid 2px rgba($color-gold, 0.8) !important;
    margin: 1.5rem 2rem;
    padding: 1rem 1.5rem 0 !important;
    min-width: 173px;

    i {
        font-size: 100px;
        padding: 0 8px;
    }

    .buttonText {
        @include section-title-text;
        display: block;
        font-size: 30px;
    }

    &:hover {
        background-color: rgba($color-gold, 0.6) !important;


        .buttonText {
            color: rgba($color-off-white, 0.9) !important;
            opacity: 1;
        }
    }

    &:active {
        background-color: rgba($color-gold, 0.8) !important;
    }
}

@media screen and (max-width: $mobile-width) {


    .linksSectionContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            max-width: 90vw;
        }

        .iconsContainer {
            align-items: center;
            display: flex;
            flex-direction: column;
        }
    }

    .linkButton {
        margin: 1rem 1.5rem;

        .buttonText {
            color: rgba($color-off-white, 0.9) !important;
            opacity: 1;
        }
    }
}

@media screen and (min-device-width : $tablet-width) and (max-device-width : $desktop-width) {

    .iconsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4em;
    }

    .linkButton {
        margin: 1rem 1.5rem;

        .buttonText {
            color: rgba($color-off-white, 0.9) !important;
            opacity: 1;
        }
    }
}