@import '../../styles/styles.scss';

.linksSection {
    background-color: $color-black;
    padding: 4rem 1em;

    .sectionTitle {
        @include section-title-text;
        color: $color-white;
        font-size: clamp(2rem, 60vw, 9rem); // (minimum size for small screens), (scales based on viewport width), (maximum size for large screens).
    }

    .blurbTitle {
        text-transform: uppercase;
        text-align: start;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 0;
        padding-bottom: 9px;
        padding-top: 12px;
    }

    hr {
        color: $color-white;
    }
}

.linksSectionContainer {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: .5em;

    p {
        @include body-text;
        text-align: center;
        padding-bottom: 1em;
        max-width: 30vw;
        color: $color-white;
        text-align: start;
    }

    .linksContainer {
        display: flex;
        flex-direction: column;

        a {
            @include body-text;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            transition: $transition-grow-on-hover;

            &:hover {
                color: $color-purple;
                transform: $transform-grow-on-hover;
            }
        }
    }
}

@media screen and (max-width: $mobile-width) {

    .linksSectionContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}