@import '/styles/styles.scss';

.sectionContentContainer {
    display: flex;
    justify-content: space-between;
    padding: 4.5rem;
}

.experienceImage {
    width: 40vw;
    max-height: 90vh;
    object-fit: scale-down;
}

.experienceCard {
    width: 50vw;
    margin: 2em 0;

    .cardName {
        @include section-sub-title-text;
        margin: 0;
    }

    .cardDates {
        @include small-body-text;
        margin: 0;
        color: lightgray;
    }

    .cardDescription {
        @include body-text;
        margin: 1em 0 3em 0;
    }

    .pillsContainer {
        display: flex;
        flex-wrap: wrap;

        .experiencePill {
            @include small-body-text;
            border: black 1.4px solid;
            padding: .3em .5em;
            border-radius: 50px;
            margin: .5em;
        }
    }
}

.viewAllLink {
    color: $color-purple;
    text-decoration: none;
    font-family: $font-sub-heading;
    letter-spacing: .2em;
    display: block;
    text-align: center;
    font-size: 28px;

    &:hover {
        color: $color-green;
    }
}