@import '/styles/styles.scss';

.socialsIconsContainer {
    align-content: center;
    display: flex;
    flex-direction: row;

    img {
        cursor: pointer;
        font-size: 2em;
        margin: 0 .2em;
    }
}

.iconsRow {
    flex-direction: row;
}

.iconsColumn {
    flex-direction: column;
}

@media screen and (max-width: $mobile-width) {
    .socialsContainer {
        margin-bottom: 5%;
    }
}