@import '../../styles/styles.scss';

.imgGrid {
    @include image-grid;
}

.imgGridItem {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease;
    z-index: 10000;
}

.modalContent {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// @media screen and (max-width: $mobile-width) {
//     .imgGrid {
//         grid-auto-rows: unset;
//     }
// }