@import '../../styles/styles.scss';

.accordionHeader {
    h3 {
        @include section-title-text;
        font-size: 28px;
        font-weight: 200;
        line-height: 1.2;

        span {
            color: $color-purple;
        }
    }

    h5 {
        @include section-title-text-small;
        color: $color-gold;
        font-size: 20px;
        margin-right: 1rem;
    }
}

.accordionFooter {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.175);
    text-align: center;

    i {
        font-size: 20px;
        margin: 5px 10px;
    }
}

.titleStyles {
    font-family: $font-sub-heading;
    color: $color-purple;
    font-size: 25px;
    font-weight: 300;
}

.bodyTextStyles {
    font-family: $font-body;
    color: $color-black;
    font-weight: 300;
    letter-spacing: .4px;
    font-size: 16px;
}

.offWhiteBackground {
    background-color: rgba($background-color, 0.2);
}