@import '../../styles/styles.scss';

.projectsContainer {
    max-width: 40vw;
    margin: auto;
    padding: 2em 0;
}

.imgGrid {
    @include image-grid;
}

.viewAllLink {
    @include default-button;
}

@media screen and (max-width: $mobile-width) {
    .projectsContainer {
        max-width: 75vw;
        padding: unset;
    }

    .viewAllLink {
        max-width: 70vw;
        margin-top: 3rem;
    }
}

@media screen and (min-device-width : $tablet-width) and (max-device-width : 1180px) {
    .projectsContainer {
        flex-direction: column;
        align-items: center;
    }
}