@import '../../styles/styles.scss';

.projectsContainer {
    max-width: 40vw;
    margin: auto;
    padding: 2em 0;
}

.imgGrid {
    @include image-grid;
}

.viewAllLink {
    @include section-title-text;
    @include animated-box-shadow;
    background-color: rgba($color-gold, 0.2);
    border: solid 2px rgba($color-gold, 0.8);
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-family: $font-sub-heading;
    letter-spacing: .2em;
    display: block;
    text-align: center;
    font-size: 28px;
    max-width: 20vw;
    margin: auto;

    &:hover {
        background-color: rgba($color-gold, 0.6) !important;
        color: $color-off-white;

        .buttonText {
            color: rgba($color-off-white, 0.9) !important;
            opacity: 1;
        }
    }
}

@media screen and (max-width: $mobile-width) {
    .projectsContainer {
        max-width: 75vw;
        padding: unset;
    }

    .viewAllLink {
        max-width: 70vw;
        margin-top: 3rem;
    }
}

@media screen and (min-device-width : $tablet-width) and (max-device-width : 1180px) {
    .projectsContainer {
        flex-direction: column;
        align-items: center;
    }
}