@import '../../styles/styles.scss';

.aboutMeSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55vw;

    img {
        border-radius: 42px;
        width: 35vw;
        object-fit: cover;
    }
}

.aboutMeBlurb {
    padding-right: 5rem;
}

.blurbTitle {
    @include section-sub-title-text;
    margin-right: 8px;
}

.iconFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.8rem 0;
}

.aboutMeGallery {
    display: flex;
    justify-content: space-evenly;
    margin: 4% 0;

    img {
        max-width: 20em;
        object-fit: scale-down;
    }
}

@media screen and (max-width: $mobile-width) {
    .aboutMeGallery {
        flex-direction: column;
        align-items: center;
        margin-top: 10%;

        img {
            max-width: 17em;
        }
    }
}