@import '../styles/styles.scss';

.banner-section {
    background-color: $color-off-white;
    padding: 2rem 0;
}

.banner {
    align-items: center;
    background-color: $color-rose-quartz;
    display: grid;
    grid-template-columns: 50vw 1fr;
    padding: 5rem;
    width: 100%;
}

.banner-text-container {
    background: rgba($color-off-white, 0.2);
    border-radius: 5px;
    padding: 20px 30px;
}

.banner-img-container {
    padding: 6em;
}

.section-title {
    @include section-title-text;
}

.section-body {
    @include body-text;
}

.skillset-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

@media (max-width: $mobile-width) {
    .banner {
        display: block;
        padding: 2rem 1rem;
    }

    .banner-img-container {
        padding: 20px 0;

        img {
            width: 40vh;
        }
    }
}