@import '../styles/styles.scss';

.about-me-section {
    background-color: $color-off-white;
    padding: 2rem 0;
}

.about-me-banner {
    align-items: center;
    background-color: $color-purple;
    display: grid;
    grid-template-columns: 50vw 1fr;
    padding: 4.5rem 5rem;
    width: 100%;
}

.banner-text-container {
    background: rgba($color-off-white, 0.2);
    border-radius: 5px;
    padding: 20px 30px;
}

.banner-img-container {
    margin: auto;

    img {
        max-height: 50vh;
    }
}

.section-title {
    @include section-title-text;
}

.section-body {
    @include body-text;
}

.skillset-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}

.about-me-gallery {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin: 4% 0;
    max-width: 100vw;
    overflow: hidden;

    img {
        max-width: 20em;
    }
}

.about-me-more-info {
    display: flex;
    flex-direction: column;

    .more-info-col {
        padding: 4em 2em 0 2em;
    }
}

@media (max-width: $mobile-width) {
    .about-me-banner {
        display: block;
        padding: 2rem 1rem;
    }

    .banner-img-container {
        padding: 30px;
    }

    .about-me-gallery {
        flex-direction: column;
        align-items: center;
        margin-top: 10%;

        img {
            max-width: 17em;
        }
    }

    .skillset-list {
        display: block;
    }
}