@import '../styles/styles.scss';

.loading-icon-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.card-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.experience-gallery-section {
    .section-title {
        margin: 0 1em .5em 1em;
    }
}