@import '../styles/styles.scss';

#experienceCard {
    background-color: rgba($color-white, 0.8);
    border-radius: 25px;
    border: solid rgba($color-spring-green, 0.2) 2px;
    box-shadow: 0 7px 10px 0 rgb(0 0 0 / 28%);
    height: 38rem;
    margin: 0.2rem 1.5rem;
    width: 38rem;
}

#experienceCardTitle {
    color: $color-sheen-gold;
    font-size: 36px;
    margin-bottom: 1rem;
    text-align: center;
    @include section-title-text;
}

.card-text-container {
    align-content: center;
    justify-content: center;

    @include small-body-text;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 50% 1fr;
}

.card-desc {
    padding: 0 0.5rem !important;
}

.card-list-button-container {
    display: flex;
    flex-direction: column;
}

.list-title {
    @include section-title-text;
    color: $color-sheen-gold;
    font-size: 30px;
    text-align: center;
    text-transform: lowercase;
}

.card-button {
    @include green-button;
}

.card-footer {
    text-align: center;
    min-height: 40px;

    i {
        margin: 5px 10px;
    }
}

// mobile responsiveness
@media (max-width: $mobile-width) {

    #experienceCard {
        height: 45rem;
    }

    .card-text-container {
        display: block;
    }

    .list-title {
        font-size: 20px;
    }

    .card-desc,
    .list-body {
        font-size: 14px;
    }

    .card-button {
        margin-top: 3%;
        width: 85%;
    }
}