@import '../styles/styles.scss';

.header {
    background-color: $color-off-white;
    display: grid;
    grid-template-columns: 50vw 1fr;
    height: 100vh;
    padding: 2rem;
}

.hero-clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(../imgs/clouds.png) 0px 100% repeat-x;
    -webkit-animation: cloudLoop 80s linear infinite;
    animation: cloudLoop 80s linear infinite;
    z-index: 100;
}

.text-container {
    align-self: center;
    animation: fade-in 2.5s;
    position: absolute;
    right: 3%;
}

.header-name {
    color: $color-rose-quartz;
    font-family: $font-heading-title;
    font-size: 95px;
}

.header-meta {
    align-self: self-end;
    color: $color-sheen-gold;
    font-family: $font-sub-heading;
    font-size: 40px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.header-img {
    animation: 1.5s slide-right 2s forwards;
    border: solid $color-white 26px;
    box-shadow: $box-shadow;
    height: 69vmin;
    margin-top: 48px;
    object-fit: contain;
    opacity: .9;
    transform: translateX(-100%);
}

// animations
@keyframes slide-right {

    to {
        transform: translateX(0);
    }
}

@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes almost-fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: .9;
    }
}

@-webkit-keyframes cloudLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes cloudLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

// mobile responsiveness
@media (max-width: $mobile-width) {

    .header {
        display: block;
        padding: 1rem;
    }

    .header-img {
        animation: almost-fade-in 2s;
        height: auto;
        margin-top: 0;
        padding: 5px;
        transform: translateX(0);
        width: 90vw;
    }

    .header-name {
        font-size: 5em;
    }

    .header-meta {
        font-size: 2em;
        right: 22px;
    }

    .text-container {
        max-width: 85vw;
        text-align: center;
        top: 25vh;
    }
}