@import '../styles/styles.scss';

.header {
    background-color: $color-off-white;
    display: grid;
    grid-template-columns: 50vw 1fr;
    height: 100vh;
    padding: 2rem;
}

.text-container {
    align-self: center;
    animation: fade-in 2.5s;
    position: absolute;
    right: 3%;
}

.header-name {
    color: $color-purple;
    font-family: $font-heading-title;
    font-size: 95px;
}

.header-meta {
    align-self: self-end;
    color: $color-gold;
    font-family: $font-sub-heading;
    font-size: 40px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.header-img {
    animation: 1.5s slide-right 2s forwards;
    border: solid $color-white 26px;
    box-shadow: $box-shadow;
    height: 69vmin;
    margin-top: 48px;
    object-fit: contain;
    opacity: .8;
    transform: translateX(-100%);
}

// animations
@keyframes slide-right {

    to {
        transform: translateX(0);
    }
}

@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mini-fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: .4;
    }
}

// mobile responsiveness
@media (max-width: $mobile-width) {

    .header {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        align-items: center;
        justify-content: space-between;
    }

    .header-img {
        animation: mini-fade-in 2s;
        height: auto;
        margin-top: 0;
        opacity: .4;
        padding: 5px;
        transform: translateX(0);
        width: 90vw;
    }

    .header-name {
        font-size: 5em;
    }

    .header-meta {
        font-size: 2em;
        left: 0;
    }

    .text-container {
        padding: 0 1rem;
        text-align: center;
        top: 36vh;
    }
}