@import '../styles/styles.scss';

.my-modal {

    h6 {
        color: $color-rose-quartz;
        font-family: $font-sub-heading;
        font-size: 25px;
        font-weight: 300;
    }
}

.tech-icons-container {
    display: flex;
    justify-content: space-between;
}

.my-modal-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include section-title-text;

    h5 {
        color: $color-sheen-gold;
    }
}

.my-modal-body {
    background-color: rgba($color-off-white, 0.2);
    @include small-body-text;
}

.my-modal-button {

    @include green-button;
}

.my-modal-header,
.my-modal-footer {
    background-color: rgba($color-rose-quartz, 0.3) !important;
}