@import '../styles/styles.scss';

.my-navbar {
    background-color: $color-off-white !important;
    width: 100%;
}

.nav-links-container {
    justify-content: flex-end;
}

.nav-brand {
    color: $color-rose-quartz !important;
    font-family: $font-heading-title;
    font-size: 35px !important;
    letter-spacing: 1px;
}

.my-nav-link {
    font-family: $font-sub-heading;
    font-size: 20px !important;
    text-transform: lowercase;
    font-weight: 200 !important;
    letter-spacing: .1rem;
}