@import './styles.scss';

.socials-container {
    align-content: center;
    display: flex;
    flex-direction: row;

    svg,
    i {
        cursor: pointer;
        font-size: 2em;
        margin: 0 .2em;

        &:hover {
            color: $color-green;
        }
    }
}

@media (max-width: $mobile-width) {
    .socials-container {
        margin-bottom: 5%;
    }
}