// fonts
$font-sub-heading: 'Josefin Sans', sans-serif;
$font-heading-title: 'La Belle Aurore', cursive;
$font-body: 'Roboto Slab', serif;

// colors
$color-white: #F5F0EE;
$color-off-white: #F0E8E5;
$color-black: #141414;
$color-rose-quartz: #BAA1AD;
$color-spring-green: #2C6E49;
$color-sheen-gold: #BF984A;

// variables
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$mobile-width: 650px;

// shared classes
@mixin section-title-text {
    font-family: $font-sub-heading;
    color: $color-spring-green;
    font-size: 40px;
    font-weight: 200;
}

@mixin body-text {
    font-family: $font-body;
    color: $color-black;
    font-weight: 300;
    letter-spacing: .4px;
    font-size: 18px;
}

@mixin small-body-text {
    @include body-text;
    font-size: 16px;
}

@mixin green-button {
    color: $color-spring-green !important;
    font-family: $font-sub-heading !important;

    &:hover {
        background-color: rgba($color-spring-green, 0.2) !important;
    }

    &:active {
        background-color: rgba($color-spring-green, 0.4) !important;
        box-shadow: 0 2px rgba($color-black, 0.2);
        transform: translateY(4px);
    }
}