// fonts
$font-section-title: 'Amatic SC', cursive;
$font-sub-heading: 'Josefin Sans', sans-serif;
$font-heading-title: 'La Belle Aurore', cursive;
$font-body: 'Playfair Display', serif;

// colors
$color-white: #F5F0EE;
$color-off-white: #F0E8E5;
$color-charcoal: #424C55;
$color-black: #050505;
$color-rose-quartz: #BAA1AD;
$color-spring-green: #2C6E49;
$color-sheen-gold: #BF984A;