@import '../../styles/styles.scss';

.magazineList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 800px;
    margin: auto;
    padding: 2rem;

    .magazineItem {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        border-bottom: 1px solid lightgray;
        padding-bottom: 1.5rem;
        text-decoration: none;

        &:last-child {
            border-bottom: none;
        }

        transition: opacity 0.6s ease,
        transform 0.6s ease;
        opacity: 0;
        animation: fadeIn 0.6s ease forwards;

        &:nth-child(1) {
            animation-delay: 0.1s;
        }

        &:nth-child(2) {
            animation-delay: 0.2s;
        }

        &:nth-child(3) {
            animation-delay: 0.3s;
        }

        .text {
            flex: 1;
            text-align: left;

            h2 {
                @include section-sub-title-text;
                font-size: 1.75rem;
            }

            h3 {
                @include section-sub-title-text;
                font-size: 1.5rem;
                color: $color-purple;
            }

            p {
                @include body-text;
                font-size: 1rem;
                line-height: 1.6;
            }

            .badge {
                color: $color-white !important;
                background-color: $accent-color1;
                font-family: $font-body;
                border-radius: 5px;
                width: 8rem;
                text-align: center;
            }
        }

        .image {
            flex: 0 0 200px;

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
            }
        }

        &:hover {
            img {
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}