@import '../../../styles/styles.scss';

.header {
    background-color: $color-off-white;
    display: grid;
    grid-template-columns: 50vw 1fr;
    height: 100vh;
    padding: 2rem;
}

.textContainer {
    align-self: center;
    animation: fade-in 2.5s;
    position: absolute;
    right: 3%;

    .headerName {
        color: $color-purple;
        font-family: $font-heading-title;
        font-size: 95px;
    }
}

.headerMeta {
    align-self: self-end;
    color: $color-gold;
    font-family: $font-sub-heading;
    font-size: 40px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.headerImg {
    animation: 2.5s slide-right .5s forwards;
    border: solid $color-white 26px;
    box-shadow: $box-shadow;
    height: 70vh;
    margin-top: 48px;
    max-width: 750px;
    object-fit: cover;
    opacity: .8;
    transform: translateX(-100%);
}

// animations
@keyframes slide-right {

    100% {
        transform: translateX(0);
    }
}

@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mini-fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: .4;
    }
}

@media screen and (max-width: $mobile-width) {

    .header {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        align-items: center;
        justify-content: space-between;
    }

    .headerImg {
        animation: mini-fade-in 2s;
        height: auto;
        margin-top: 0;
        opacity: .4;
        padding: 5px;
        transform: translateX(0);
        width: 90vw;
    }

    .headerName {
        font-size: 5em;
    }

    .headerMeta {
        font-size: 2em;
        left: 0;
    }

    .textContainer {
        padding: 0 1rem;
        text-align: center;
        top: 36vh;
    }
}