@import '../../styles/styles.scss';

.header {
    margin-top: 2%;
}

.text-container {
    animation: fade-in 2.5s;
    position: absolute;
    right: 5%;
    top: 30%;
    z-index: 1;
}

.header-name {
    color: $color-rose-quartz;
    font-family: $font-heading-title;
    font-size: 95px;
}

.header-meta {
    color: $color-sheen-gold;
    font-family: $font-sub-heading;
    font-size: 40px;
    margin-top: -50px;
    position: relative;
    right: -55%;
    text-transform: uppercase;
}

.img-container {
    overflow: hidden;
    width: 100%;
}

.header-img {
    animation: 2s slide-right 2s forwards;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border: solid $color-white 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 70vmin;
    left: 20px;
    object-fit: contain;
    opacity: .9;
    position: absolute;
    top: 20px;
    transform: translateX(-100%);
    z-index: 0;
}

// animations
@keyframes slide-right {

    to {
        transform: translateX(0);
    }
}

@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}