@import '../../styles/styles.scss';

.myFooter {
  @include body-text;
  background-color: rgba($color-green, 0.8);
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 4rem;
}

@media screen and (max-width: $mobile-width) {
  .myFooter {
    font-size: 14px;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;
  }
}