@import '../../styles/styles.scss';

.myFooter {
  @include body-text;
  background-color: $color-green-faded;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 4rem;
}

@media screen and (max-width: $mobile-width) {
  .myFooter {
    font-size: 14px;
    flex-direction: column;
    text-align: center;
  }
}