@import '../../styles/styles.scss';

.pageContentText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: auto;
    padding: 1rem 0;

    p {
        @include body-text;
        text-align: center;
        margin: 2rem 0;
    }
}