@import './styles/styles.scss';

.app-header {
  background-color: $color-off-white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  background-color: $color-off-white;
  min-height: 100vh;
}