@import './styles/styles.scss';

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  background-color: $color-off-white;
  margin-bottom: 2%;
}