@import './styles/styles.scss';

.app-container {
  background-color: $color-off-white;

  footer {
    @include body-text;
    padding: 1rem;
  }
}

@media (max-width: $mobile-width) {
  .app-container {
    footer {
      font-size: 14px;
      text-align: center;
    }
  }
}