@import './styles.scss';

.cardContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.experienceGallerySectionTitle {
    margin: 0 1em .5em 1em;
}

@media screen and (max-width: $mobile-width) {

    .cardContainer {
        flex-direction: column;
    }
}

@media screen and (min-device-width : $tablet-width) and (max-device-width : 1180px) {
    .cardContainer {
        flex-direction: column;
    }
}