@import './styles.scss';

.cardContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.experienceGallerySectionTitle {
    margin: 0 1em .5em 1em;
}