@import './styles.scss';

.modalTitle {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    h3,
    h5 {
        @include section-title-text;
    }

    h3 {
        font-size: 28px;
        font-weight: 200;
        line-height: 1.2;
    }

    h5 {
        color: $color-gold;
        font-size: 20px;
    }
}

.bodySectionText {
    color: $color-purple;
    font-size: 25px;
    font-weight: 300;
}

.modalBodyText {
    color: $color-black;
    font-weight: 300;
    letter-spacing: .4px;
    font-size: 16px;
}

.techIconsContainer {
    display: flex;
    justify-content: space-between;
}

.offWhiteBackground {
    background-color: rgba($color-off-white, 0.2);
}

.purpleBackground {
    background-color: rgba($color-purple, 0.3) !important;
}