@import './styles.scss';

body {
    margin: 0;
    background-color: $color-off-white;
}

.section-title {
    @include section-title-text;
}

.section-body {
    @include body-text;
}

// Thanks https://stackoverflow.com/a/53336754/16305154
.filter-white {
    filter: invert(100%) sepia(77%) saturate(86%) hue-rotate(58deg) brightness(113%) contrast(108%);
}