@import './styles.scss';

body {
    margin: 0;
    background-color: $background-color;
}

small {
    font-size: 80%;
}

.home-section {
    background-color: $background-color;
    padding: 4rem 1em;
}

.section-title {
    @include section-title-text;
}

.section-sub-title {
    @include section-sub-title-text;
}

.section-title-small {
    @include section-title-text-small;
}

.section-body {
    @include body-text;
}

.section-body-small {
    @include small-body-text;
}

.section-title-margin {
    margin: 0 1em .5em 1em;
}

// Overiding default bootstrap accordion
.accordion-button {
    &:not(.collapsed) {
        background-color: rgba($color-purple, 0.4);
    }
}