@import './styles.scss';

.myModal {

    h6 {
        color: $color-purple;
        font-family: $font-sub-heading;
        font-size: 25px;
        font-weight: 300;
    }
}

.techIconsContainer {
    display: flex;
    justify-content: space-between;
}

.myModalTitle {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include section-title-text;

    h5 {
        color: $color-gold;
    }
}

.myModalBody {
    background-color: rgba($color-off-white, 0.2);
    @include small-body-text;
}

.myModalButton {

    @include green-button;
}

.myModalHeader,
.myModalFooter {
    background-color: rgba($color-purple, 0.3) !important;
}