@import './styles.scss';

.workPolaroidCard {
    @include animated-box-shadow;
    background-color: $color-white;
    max-width: 400px;

    a {
        text-decoration: none;
    }

    h4 {
        color: $color-purple;
        font-family: $font-heading-title;
        margin-top: 3%;
    }

    p {
        color: lightgray;
        font-family: $font-body;
    }

    .typeBadge {
        color: $color-white;
        background-color: $color-green;
        font-family: $font-body;
        border-radius: 5px;
        width: 8rem;
        text-align: center;
    }
    
    .greenBadge {
        background-color: $color-green;
    }
    
    .goldBadge {
        background-color: $color-gold;
    }
    
    .purpleBadge {
        background-color: $color-purple;
    }
}