@import '../../styles/styles.scss';

.cardContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.summarySection {
    max-width: 70vw;
    text-align: center;
    margin: auto;

    .summaryDetailsContainer {
        display: flex;
    }

    li {
        list-style: none;
    }
}

.viewAllLink {
    color: $color-purple;
    text-decoration: none;
    font-family: $font-sub-heading;
    letter-spacing: .2em;
    display: block;
    text-align: center;
    font-size: 28px;

    &:hover {
        color: $color-green;
    }
}

@media screen and (max-width: $mobile-width) {

    .cardContainer {
        flex-direction: column;
    }

    .summaryDetailsContainer {
        flex-direction: column;
    }
}

@media screen and (min-device-width : $tablet-width) and (max-device-width : 1180px) {
    .cardContainer {
        flex-direction: column;
    }

    .summaryDetailsContainer {
        flex-direction: column;
    }
}