@import '/styles/styles.scss';

.aboutMeSection {
    background-color: $background-color;
    align-items: center;
    display: flex;
    padding: 7rem 5rem;
    justify-content: space-around;
}

.bannerTextContainer {
    padding: 20px 30px;
    max-width: 50vw;
}

.bannerImg {
    @include animated-shadow;
    height: auto;
    max-width: 20vw;
    object-fit: scale-down;
    border-radius: 50%;
}